{% extends 'base.html' %}
{% block title %}
    Projects
{% endblock %}
{% block content %}
    <h1>Projects html</h1>
    <table>
        <tr>
            <th>Project</th>
            <th>Positive Votes</th>
            <th>Vote Ratio</th>
            <th>Created At</th>
            <th>View Project</th>
            <th>Update Project</th>
        </tr>

        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.vote_ratio}}%</td>
                    <td>{{project.vote_total}}</td>
                    <td>{{project.created}}</td>
                    <td>
                        <a href="{% url 'single-project' project.id %}">
                            View Project
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update-project' project.id%}">
                            Update-project
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete-project' project.id%}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}